---
import Layout from '../layouts/Layout.astro';
import Search from '../components/search.svelte';

import { IconButton, Button, TextBlock } from 'fluent-svelte';

import Logo from "~icons/local/logo";

import MdiGithub from '~icons/mdi/github';
import MdiTwitter from '~icons/mdi/twitter';

export const prerender = true;
---

<Layout title="In this tweet" description="Quick and easy twitter image/video downloader. Enter a Tweet URL, click search, and download the image/videos in it.">
	<section class="social-media">
		<menu class="flex justify-center gap-4">
			<Button href="/" variant="standard" rel="noopener">
				<span class="flex flex-row gap-2">
					<Logo class="logo" />
				</span>
			</Button>

			<div class="flex-grow" />
			
			<Button class="flex gap-2" variant="hyperlink" href="https://github.com/okikio/twitter-media" rel="noopener">
				<MdiGithub />	GitHub
			</Button>

			<Button class="flex gap-2" variant="hyperlink" href="https://twitter.com/@okikio_dev" rel="noopener">
				<MdiTwitter /> Twitter
			</Button>
		</menu>
	</section>

	<header class="py-4 sm:py-8 md:py-14 text-center">
		<div class="title">
			<TextBlock variant="display">
				<span class="inline-flex items-center gap-6">
					In this tweet
					<Logo class="logo" />
				</span>
			</TextBlock>
		</div>
	
		<div class="text-gray-900/60 dark:text-gray-200/80">
			<TextBlock variant="body">
				Enter a Tweet URL to download the video/image in it.
			</TextBlock>
		</div>
	</header>

	<main>
		<Search value={new URL(Astro.url).searchParams.get('q') ?? ''} client:load />
	</main>

	<footer class="copyright py-4 sm:py-8">
		<div class="flex flex-row flex-wrap gap-x-8 gap-y-4 justify-center">
			<div>
				<span> © {new Date().getFullYear()} </span>
				<a class="copyright-link" href="https://okikio.dev" rel="noopener">Okiki Ojo</a>
			</div>

			<div>
				<span>Inspired by </span>
				<a class="copyright-link" href="https://github.com/egoist/download-twitter-video" rel="noopener">egoist</a>
			</div>
		</div>
	</footer>

	<script>
		import Measure from "../scripts/measure";
		Measure(window);
	</script>
</Layout>

<style>
	.social-media,
	header,
	footer,
	main {
		margin: auto;
		padding: 0.75rem;
		max-width: 60ch;
	}

	.logo-short {
		height: 1em;
	}

	@sm {
		.social-media,
		header,
		footer,
		main {
			padding: 1.5rem;
		}
	}

	:global(.title .text-block.type-display) {
		@apply pb-4;
		@apply lt-sm:text-4xl lt-md:text-6xl;
	}

	:global(.icon-button svg.logo) {
		inline-size: auto;
		flex-shrink: 0;
	}

	.copyright {
		text-align: center;
	}

	.copyright-link {
		color: var(--fds-accent-default);
		display: inline-flex;
		align-items: center;
		@apply gap-1;
	}

	.copyright-link:hover {
		text-decoration: underline;
	}
</style>
