---
import Layout from '../layouts/Layout.astro';
import Search from '../components/search.svelte';

import { Button, TextBlock, InfoBar } from 'fluent-svelte';

import Logo from "~icons/local/logo";
import ProductHuntLogo from "~icons/local/product-hunt-logo";
import FileIconsFfmpeg from '~icons/file-icons/ffmpeg';

import MdiGithub from '~icons/mdi/github';
import MdiTwitter from '~icons/mdi/twitter';

export const prerender = true;
---

<Layout title="Video, gif and image downloader for twitter - in this tweet?" description="✨ Futuristic ✨ twitter video, gif and image downloader. Enter a Tweet URL, click search and download the resulting videos, gifs, and images to share, create a meme, and/or to store." preload>
	<section class="social-media">
		<menu class="flex justify-center gap-1 sm:gap-4">
			<Button href="/" variant="standard" rel="noopener" aria-label="Go home">
				<span class="flex flex-row items-center gap-2">
					<Logo class="logo" /><span class="lt-sm:hidden font-[family:Inter]">In this tweet</span>
				</span>
			</Button>

			<div class="flex-grow" />
			
			<Button class="flex gap-2" variant="hyperlink" href="./ffmpeg">
				<FileIconsFfmpeg />	FFmpeg
			</Button>
			
			<Button class="flex gap-2" variant="hyperlink" href="https://github.com/okikio/inthistweet" rel="noopener">
				<MdiGithub />	GitHub
			</Button>

			<Button class="flex gap-2" variant="hyperlink" href="https://twitter.com/@inthistweet_dev" rel="noopener">
				<MdiTwitter /> Twitter
			</Button>
		</menu>
	</section>

	<header class="pt-8 py-4 sm:py-8 md:pt-14 text-center">
		<div class="title">
			<TextBlock variant="display">
				<span class="inline-flex items-center gap-6 title-display" id="title-display">
					In this tweet
					<Logo class="logo" />
				</span>
			</TextBlock>
		</div>
	
		<div class="text-gray-900/60 dark:text-gray-200/80 max-w-[48ch] lg:max-w-[60ch] xl:max-w-[75ch] mx-auto">
			<TextBlock variant="body">
				<span class="leading-7">
					Enter a Tweet URL, click search, and download the videos, gifs and images. 
				</span>
			</TextBlock>
		</div>
	</header>

	<main>
		<Search value={new URL(Astro.url).searchParams.get('q') ?? ''} client:load />
	</main>
	
	<div>
		<a href="https://www.producthunt.com/posts/in-this-tweet?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-in&#0045;this&#0045;tweet" target="_blank" rel="noopener">
			<img 
				src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=373878&theme=neutral" 
				alt="in&#0032;this&#0032;tweet - ✨&#0032;Futuristic&#0032;✨&#0032;twitter&#0032;video&#0044;&#0032;gif&#0032;and&#0032;image&#0032;downloader&#0046; | Product Hunt" 
				style="width: 250px; height: 54px;" 
				width="250" 
				height="54" 
				class="text-center mx-auto block dark:hidden"
				loading="lazy"
				crossorigin="anonymous"
			/>
			<img 
				src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=373878&theme=dark" 
				alt="in&#0032;this&#0032;tweet - ✨&#0032;Futuristic&#0032;✨&#0032;twitter&#0032;video&#0044;&#0032;gif&#0032;and&#0032;image&#0032;downloader&#0046; | Product Hunt" 
				style="width: 250px; height: 54px;" 
				width="250" 
				height="54" 
				class="text-center mx-auto hidden dark:block"
				loading="lazy"
				crossorigin="anonymous"
			/>
		</a>
	</div>

	<footer class="copyright py-4 sm:py-8">
		<div class="flex flex-row flex-wrap gap-x-8 gap-y-4 justify-center">
			<div>
				<span> © {new Date().getFullYear()} </span>
				<a class="copyright-link" href="https://okikio.dev" rel="noopener">Okiki Ojo</a>
			</div>

			<div>
				<span>Inspired by </span>
				<a class="credit-link" href="https://github.com/egoist/download-twitter-video" rel="noopener">egoist</a>
			</div>
		</div>
	</footer>

	<script>
		import Measure from "../scripts/measure";
		Measure(window);
	</script>
</Layout>

<style lang="scss">
	.social-media,
	header,
	footer,
	main {
		margin: auto;
		padding: 0.75rem;

		@apply max-w-[60ch] md:max-w-[75ch] xl:max-w-[80ch];
	}

	.logo-short {
		height: 1em;
	}

	.logo :global(path) {
		@apply stroke-black;
		@apply dark:stroke-white;
	}

	@sm {
		.social-media,
		header,
		footer,
		main {
			padding: 1.5rem;
		}
	}

	:global(.title #title-display) {
		@apply pb-4;
		@apply lt-sm:text-4xl lt-md:text-6xl;
	}

	:global(.icon-button svg.logo) {
		inline-size: auto;
		flex-shrink: 0;
	}

	.copyright {
		text-align: center;
	}

	:global(.link),
	.copyright-link,
	.credit-link {
		color: var(--fds-accent-default);
		display: inline-flex;
		align-items: center;
		@apply gap-1;
	}

	.copyright-link:hover,
	.credit-link:hover {
		text-decoration: underline;
	}
</style>
