---
import "fluent-svelte/theme.css";
export interface Props {
	title: string;
}

const { title } = Astro.props;
const url = new URL(Astro.url).searchParams.get('q') ?? '';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="manifest" href="/manifest.json">
		<meta name="robots" content="index, follow">
		<link rel="search" href={Astro.site?.origin?.toString() + "/open-search.xml" } type="application/opensearchdescription+xml" title="Twitter Media">
		
		<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
		<meta name="theme-color" content="#ffff00" media="(prefers-color-scheme: dark)">

		<link rel="preconnect" href="https://video.twimg.com" />
		<link rel="preload" href="https://video.twimg.com/ext_tw_video/1585341912877146112/pu/vid/1920x1080/aeoVUvTgj4wHShhN.mp4" as="video" />
		<link rel="preload" href={`/api/twitter?url=${encodeURIComponent(url)}`} as="fetch" crossorigin="anonymous"/>

		<!-- <script async defer data-website-id="72683bf5-0839-42eb-84e4-5d34f619a31c" src="https://analytics.bundlejs.com/umami.js"></script> -->

		<link href="https://twitter.com/okikio_dev" rel="me" />
		<link rel="webmention" href="https://webmention.io/okikio.dev/webmention" />
		<link rel="pingback" href="https://webmention.io/okikio.dev/xmlrpc" />
		<link rel="pingback" href="https://webmention.io/webmention?forward=https://okikio.dev/endpoint" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="background">
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		scrollbar-gutter: stable both-edges;
		
		font-family: var(--fds-font-family-text), system-ui, sans-serif;
    background-color: var(--fds-solid-background-base);
    color: var(--fds-text-primary);
    font-family: var(--fds-font-family-text);
    font-size: var(--fds-body-font-size);
    font-weight: 400;
	}
	body:before {
		background-image: url(/bloom-mica-light.png);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		z-index: -1;
	}

	@media(prefers-color-scheme: dark) {
		body:before {
			background-image: url(/bloom-mica-dark.png);
		}
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
